/*WIDTH: 400 ,HEIGHT: 600 */

body {
  background: url('../res/background.jpg') no-repeat 50% 50%;
  position: fixed;
  background-size: cover;
}

#root {
  width: 100%;
  height: auto;
  border: solid red 1px;

}

.container-bg {

}